In [50]:
import pandas as pd
import numpy as np

TIME SERIES ANALYSIS IN PANDAS : Data Points Indexed in Time / Date Order

* Used in Finance 
* Downloading the AAPL Data

= GOOGLEFINANCE("NASDAQ:GOOG", "price", DATE(2014,1,1), DATE(2014,12,31), "DAILY") : To download Sheet
* https://support.google.com/docs/answer/3093281?hl=en

When ever you have date in string formate : 31-jul-2014 to convert it into a date formate we use :

In [51]:
# df = pd.read_excel('C:\\Users\\harip\\Desktop\\Projects\\projects\\dataset\\APPL.xlsx',parse_dates=["Date"])
# df.head()

In [52]:
df = pd.read_excel('C:\\Users\\harip\\Desktop\\Projects\\projects\\dataset\\APPL.xlsx')
df.head()

                     Date    Open    High     Low   Close     Volume
0 2023-01-03 16:00:00.288  130.28  130.90  124.17  125.07  112117471
1 2023-01-04 16:00:00.288  126.89  128.66  125.08  126.36   89113633
2 2023-01-05 16:00:00.288  127.13  127.77  124.76  125.02   80962708
3 2023-01-06 16:00:00.288  126.01  130.29  124.89  129.62   87754715
4 2023-01-09 16:00:00.288  130.47  133.41  129.89  130.15   70790813

In [53]:
type(df['Date'][0]) # comes in time stamp
# date col 0th element
print(df['Date'][0])

2023-01-03 16:00:00.288000

In [54]:
# lets make the date col as our index
df = df.set_index(df.Date)
df.head()

# date becomes our index but we have two Date index so we perform index_col = Date

,Date,Open,High,Low,Close,Volume
Date,,,,,,
2023-01-03 16:00:00.288,2023-01-03 16:00:00.288,130.28,130.90,124.17,125.07,112117471
2023-01-04 16:00:00.288,2023-01-04 16:00:00.288,126.89,128.66,125.08,126.36,89113633
2023-01-05 16:00:00.288,2023-01-05 16:00:00.288,127.13,127.77,124.76,125.02,80962708
2023-01-06 16:00:00.288,2023-01-06 16:00:00.288,126.01,130.29,124.89,129.62,87754715
2023-01-09 16:00:00.288,2023-01-09 16:00:00.288,130.47,133.41,129.89,130.15,70790813

In [56]:
df = pd.read_excel('C:\\Users\\harip\\Desktop\\Projects\\projects\\dataset\\APPL.xlsx',index_col='Date')
df.head()

                           Open    High     Low   Close     Volume
Date
2023-01-03 16:00:00.288  130.28  130.90  124.17  125.07  112117471
2023-01-04 16:00:00.288  126.89  128.66  125.08  126.36   89113633
2023-01-05 16:00:00.288  127.13  127.77  124.76  125.02   80962708
2023-01-06 16:00:00.288  126.01  130.29  124.89  129.62   87754715
2023-01-09 16:00:00.288  130.47  133.41  129.89  130.15   70790813

In [61]:
df.index

DatetimeIndex(['2023-01-03 16:00:00.288000', '2023-01-04 16:00:00.288000',
               '2023-01-05 16:00:00.288000', '2023-01-06 16:00:00.288000',
               '2023-01-09 16:00:00.288000', '2023-01-10 16:00:00.288000',
               '2023-01-11 16:00:00.288000', '2023-01-12 16:00:00.288000',
               '2023-01-13 16:00:00.288000', '2023-01-17 16:00:00.288000',
               ...
               '2024-03-04 16:00:00.288000', '2024-03-05 16:00:00.288000',
               '2024-03-06 16:00:00.288000', '2024-03-07 16:00:00.288000',
               '2024-03-08 16:00:00.288000', '2024-03-11 16:00:00.288000',
               '2024-03-12 16:00:00.288000', '2024-03-13 16:00:00.288000',
               '2024-03-14 16:00:00.288000', '2024-03-15 16:00:00.288000'],
              dtype='datetime64[ns]', name='Date', length=302, freq=None)

Lets say i only want jan some year data

In [69]:
df.loc["2023-01"]
# so doing this i get all the data of the date on 2023
# now to this we can add out stat's methods 
round(df.loc["2023-01"].describe(),1)

        Open   High    Low  Close       Volume
count   20.0   20.0   20.0   20.0         20.0
mean   135.1  137.3  133.7  135.8   72182636.2
std      5.9    6.1    6.4    6.6   13425866.2
min    126.0  127.8  124.2  125.0   54105068.0
25%    130.4  132.9  129.4  130.6   63985494.2
50%    134.5  136.8  134.0  135.2   69565874.5
75%    140.5  143.2  139.2  142.0   80408396.5
max    145.0  147.2  143.1  145.9  112117471.0