# BLACK FRIDAY DATASET

EDA AND FEATURING ENGINEERING & PREPARE DATA FOR MODEL BUILDING

In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

Reading Dataset

In [10]:
df_train = pd.read_csv("C:\\Users\\harip\\Desktop\\Projects\\data\\blackfriday\\train.csv")
df_test = pd.read_csv("C:\\Users\\harip\\Desktop\\Projects\\data\\blackfriday\\test.csv")

In [12]:
# Shape of the data
print(f'Trian shape : {df_train.shape}, Test shape :{df_test.shape}')

Trian shape : (550068, 12), Test shape :(233599, 11)

In [13]:
df_train.head(2)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200

In [14]:
df_test.head(2)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN

##### Problem Statement : Understand the Cutomer Purchase behaviour (mainly Purchase amount), against various product of different categories. We have summary of various customer for selected high volume product of last month. The data set also contains customer demographics (Age, Gender, Marital Status, city_type , stay_in_current_city), Product details (product_id,product_category)and Total purchase_amount from last month

Build a model to predict the purchase of customer against the product for personalized offer to the customer