In [58]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline 
import seaborn as sns

[Data Description](https://towardsdatascience.com/things-you-didnt-know-about-the-boston-housing-dataset-2e87a6f960e8#:~:text=Each%20of%20the%20506%20rows,and%20per%20capita%20crime%20rate.)

In [59]:
df = pd.read_csv('C:\\Users\\harip\\Desktop\\Datascience\\data\\BostonHousing.csv')
df.shape

(506, 14)

In [60]:
df.head(3)
df.rename({'medv' : 'price'},axis=1,inplace=True)

In [61]:
round(df.describe(),1)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,price
count,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0,506.0
mean,3.6,11.4,11.1,0.1,0.6,6.3,68.6,3.8,9.5,408.2,18.5,356.7,12.7,22.5
std,8.6,23.3,6.9,0.3,0.1,0.7,28.1,2.1,8.7,168.5,2.2,91.3,7.1,9.2
min,0.0,0.0,0.5,0.0,0.4,3.6,2.9,1.1,1.0,187.0,12.6,0.3,1.7,5.0
25%,0.1,0.0,5.2,0.0,0.4,5.9,45.0,2.1,4.0,279.0,17.4,375.4,7.0,17.0
50%,0.3,0.0,9.7,0.0,0.5,6.2,77.5,3.2,5.0,330.0,19.0,391.4,11.4,21.2
75%,3.7,12.5,18.1,0.0,0.6,6.6,94.1,5.2,24.0,666.0,20.2,396.2,17.0,25.0
max,89.0,100.0,27.7,1.0,0.9,8.8,100.0,12.1,24.0,711.0,22.0,396.9,38.0,50.0

In [62]:
# DIVIDING THE DATA FOR TRAIN - TEST SPLIT, Independent and Dependenet Value
    # X - Dataframe 
X = df.iloc[:,:-1] # Independent features
    # y - Array ,List
y = df.iloc[:,-1] # Dependent features

In [63]:
X.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [64]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: price, dtype: float64

You get multiple Hyperparameter Tuning in L1 and L2 regularization

LINEAR_REGRESSION : NOT USING GENERIC Train_Test_Split, Using - Quick Reference

In [65]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [72]:
cvs = cross_val_score(lr,X,y,scoring='neg_mean_squared_error',cv=5) # Error all 5 CV
cvs

array([-12.46030057, -26.04862111, -33.07413798, -80.76237112,
       -33.31360656])

cross-val image

In [67]:
# Lets find the average accuracy
print(np.mean(cvs))

-37.13180746769901