In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings


TIME SERIES EDA : CB

* PART 1

In [53]:
df = pd.read_csv("C:\\Users\\harip\\Desktop\\projects\\data\\aapl.csv")
# Work on google-finance data -> Check to Formate this {01/01/2017 16:00:00} NOTE

In [54]:
df.head()

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [55]:
type(df.Date[0])

str

In [56]:
# df = pd.read_csv("C:\\Users\\harip\\Desktop\\projects\\data\\aapl.csv",parse_dates=['Date'])
# type(df.Date[0])

In [58]:
df = pd.read_csv("C:\\Users\\harip\\Desktop\\projects\\data\\aapl.csv",index_col=['Date'],parse_dates=['Date'])
# NOTE Adding Date as Index, Changing the Date Formate
df.head()

C:\Users\harip\AppData\Local\Temp\ipykernel_1756\1019493221.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv("C:\\Users\\harip\\Desktop\\projects\\data\\aapl.csv",index_col=['Date'],parse_dates=['Date'])

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107